table {
    width: 100%;
}

.table-icons {
    width: 10px;
}

.table-container {
    overflow-x: scroll;
}

.table-column {
    min-width: 120px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.fixed-button {
    position: fixed!important;
    bottom: 20px;
    right: 20px;
    background-color: #009688;
    z-index: 1;
}