<h2 mat-dialog-title>Informações do Cliente</h2>

<div mat-dialog-content class="content">

  <div fxFlex fxLayout="column">
    <h5>Dados Pessoais</h5>

    <a>Nome: Marcos Paulo da Costa Mendes</a>
    <br>
    <a>CPF: 064.439.361-08</a>
    <br>
    <a>Email: marcos775paulo@hotmail.com</a>
    <br>
    <a>Telefone Fixo: 3297-6069</a>
    <br>
    <a>Telefone Movel: 9414-8756</a>

    <h5>Endereço</h5>

    <a>Logradouro: XX</a>
    <br>
    <a>Numero: XX</a>
    <br>
    <a>Complemento: XX</a>
    <br>
    <a>Bairro: XX</a>
    <br>
    <a>UF: XX</a>
    <br>
    <a>Municipio: XX</a>
    <br>
    <a>CEP: XX</a>

  </div>

</div>