<h2 mat-dialog-title>Informações do Produto</h2>

<div mat-dialog-content class="content">

  <div fxFlex fxLayout="column">
    <h5>Dados do Produto</h5>

    <a>Nome: Pollycopos CP PP 200 E TRANSPARENTE(25x100)</a>
    <br>
    <a>Marca: Pollycopos</a>
    <br>
    <a>Modelo: Copo Comum</a>
    <br>
    <a>Material: Polipropileno</a>
    <br>
    <a>Capacidade: 200 ml</a>
    <br>
    <a>Especificação: Estriado</a>
    <br>
    <a>Cor: Transparente</a>
    <br>
    <a>Caixa: (25x100)</a>

  </div>

</div>