<h2 mat-dialog-title>Informações do Representante</h2>

<div mat-dialog-content class="content">

  <div fxFlex fxLayout="column">
    <h5>Dados Pessoais</h5>

    <a>Nome: Marcos Paulo da Costa Mendes</a>
    <br>
    <a>Sigla: MPCM</a>
    <br>
    <a>Representação: TI</a>
    <br>
    <a>Email: marcos775paulo@hotmail.com</a>
    <br>
    <a>Telefone Fixo: 3297-6069</a>
    <br>
    <a>Telefone Movel: 9414-8756</a>

    <div mat-dialog-actions fxLayoutAlign="center center">
      <button mat-raised-button (click)="onNoClick()">Fechar</button>
    </div>

  </div>

</div>