<mat-toolbar>
  Home
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Materia-Prima">
    <mat-card class="grid" fxLayout="column">

      <div fxFlex>
        <h2>Pollycopos</h2>

        <div class="grid" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoque">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoque">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoque">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoque">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoque">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoque">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoque">
              <a>300</a>
            </div>
          </div>

        </div>
      </div>

      <div fxFlex>
        <h2>Cristal Copos</h2>

        <div class="grid" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoqueC">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoqueC">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoqueC">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoqueC">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoqueC">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoqueC">
              <a>300</a>
            </div>
          </div>

          <div fxFlex class="container-estoque">
            <h5>CP 200 PP E TRANSPARENTE (25x100)</h5>
            <div class="estoqueC">
              <a>300</a>
            </div>
          </div>

        </div>
      </div>

    </mat-card>
  </mat-tab>


  <mat-tab label="Estoque Inacabado">
    <mat-card fxFlex fxLayoutAlign="center" class="grid">
      <mat-card class="estoque-card">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
              <mat-icon class="estoque-icon">import_export</mat-icon>
            </div>

            <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
              <a>000</a>
            </div>
          </div>

          <br><br>
          <div fxFlex fxLayoutAlign="center end" class="estoque-text">
            <a>CP 200 PP E TRANSPARENTE (25x100)</a>
          </div>
        </div>
      </mat-card>

      <mat-card class="estoque-card">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
              <mat-icon class="estoque-icon">import_export</mat-icon>
            </div>

            <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
              <a>000</a>
            </div>
          </div>

          <br><br>
          <div fxFlex fxLayoutAlign="center end" class="estoque-text">
            <a>CP 200 PP E TRANSPARENTE (25x100)</a>
          </div>
        </div>
      </mat-card>

      <mat-card class="estoque-card">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
              <mat-icon class="estoque-icon">import_export</mat-icon>
            </div>

            <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
              <a>000</a>
            </div>
          </div>

          <br><br>
          <div fxFlex fxLayoutAlign="center end" class="estoque-text">
            <a>CP 200 PP E TRANSPARENTE (25x100)</a>
          </div>
        </div>
      </mat-card>

      <mat-card class="estoque-card">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
              <mat-icon class="estoque-icon">import_export</mat-icon>
            </div>

            <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
              <a>000</a>
            </div>
          </div>

          <br><br>
          <div fxFlex fxLayoutAlign="center end" class="estoque-text">
            <a>CP 200 PP E TRANSPARENTE (25x100)</a>
          </div>
        </div>
      </mat-card>

      <mat-card class="estoque-card">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
              <mat-icon class="estoque-icon">import_export</mat-icon>
            </div>

            <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
              <a>000</a>
            </div>
          </div>

          <br><br>
          <div fxFlex fxLayoutAlign="center end" class="estoque-text">
            <a>CP 200 PP E TRANSPARENTE (25x100)</a>
          </div>
        </div>
      </mat-card>

      <mat-card class="estoque-card">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
              <mat-icon class="estoque-icon">import_export</mat-icon>
            </div>

            <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
              <a>000</a>
            </div>
          </div>

          <br><br>
          <div fxFlex fxLayoutAlign="center end" class="estoque-text">
            <a>CP 200 PP E TRANSPARENTE (25x100)</a>
          </div>
        </div>
      </mat-card>

      <mat-card class="estoque-card">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
              <mat-icon class="estoque-icon">import_export</mat-icon>
            </div>

            <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
              <a>000</a>
            </div>
          </div>

          <br><br>
          <div fxFlex fxLayoutAlign="center end" class="estoque-text">
            <a>CP 200 PP E TRANSPARENTE (25x100)</a>
          </div>
        </div>
      </mat-card>

      <mat-card class="estoque-card">
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
              <mat-icon class="estoque-icon">import_export</mat-icon>
            </div>

            <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
              <a>000</a>
            </div>
          </div>

          <br><br>
          <div fxFlex fxLayoutAlign="center end" class="estoque-text">
            <a>CP 200 PP E TRANSPARENTE (25x100)</a>
          </div>
        </div>
      </mat-card>

    </mat-card>

  </mat-tab>


  <mat-tab label="Estoque Final">

    <div>
      <mat-card>
        <mat-card-subtitle>
          Pollycopos CP 200 PP E TRANSPARENTE (25x100)
          <button mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-content>
          <p>Estoque: 200 caixas;</p>
          <p>Disponivel: 150 caixas</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-card>
        <mat-card-subtitle>
          Pollycopos CP 250 PP E TRANSPARENTE (25x100)
          <button mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-content>
          <p>Estoque: 200 caixas;</p>
          <p>Disponivel: 150 caixas</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-card>
        <mat-card-subtitle>
          Pollycopos CP 300 PP E TRANSPARENTE (25x100)
          <button mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-content>
          <p>Estoque: 200 caixas;</p>
          <p>Disponivel: 150 caixas</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-card>
        <mat-card-subtitle>
          Pollycopos CP 400 PP E TRANSPARENTE (25x100)
          <button mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-content>
          <p>Estoque: 200 caixas;</p>
          <p>Disponivel: 150 caixas</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>

  </mat-tab>
</mat-tab-group>