<div class="router">
  <mat-toolbar color="primary">
    Home
  </mat-toolbar>


  <mat-tab-group>
    <mat-tab label="Materia-Prima">
      <ng-template matTabContent>
      </ng-template>
    </mat-tab>


    <mat-tab label="Estoque Inacabado">

      <ng-template matTabContent>
        <mat-card fxFlex fxLayoutAlign="center" class="grid">
          <mat-card class="estoque-card">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
                  <mat-icon class="estoque-icon">import_export</mat-icon>
                </div>

                <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
                  <a>000</a>
                </div>
              </div>

              <br><br>
              <div fxFlex fxLayoutAlign="center end" class="estoque-text">
                <a>CP 200 PP E TRANSPARENTE (25x100)</a>
              </div>
            </div>
          </mat-card>

          <mat-card class="estoque-card">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
                  <mat-icon class="estoque-icon">import_export</mat-icon>
                </div>

                <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
                  <a>000</a>
                </div>
              </div>

              <br><br>
              <div fxFlex fxLayoutAlign="center end" class="estoque-text">
                <a>CP 200 PP E TRANSPARENTE (25x100)</a>
              </div>
            </div>
          </mat-card>

          <mat-card class="estoque-card">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
                  <mat-icon class="estoque-icon">import_export</mat-icon>
                </div>

                <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
                  <a>000</a>
                </div>
              </div>

              <br><br>
              <div fxFlex fxLayoutAlign="center end" class="estoque-text">
                <a>CP 200 PP E TRANSPARENTE (25x100)</a>
              </div>
            </div>
          </mat-card>

          <mat-card class="estoque-card">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
                  <mat-icon class="estoque-icon">import_export</mat-icon>
                </div>

                <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
                  <a>000</a>
                </div>
              </div>

              <br><br>
              <div fxFlex fxLayoutAlign="center end" class="estoque-text">
                <a>CP 200 PP E TRANSPARENTE (25x100)</a>
              </div>
            </div>
          </mat-card>

          <mat-card class="estoque-card">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
                  <mat-icon class="estoque-icon">import_export</mat-icon>
                </div>

                <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
                  <a>000</a>
                </div>
              </div>

              <br><br>
              <div fxFlex fxLayoutAlign="center end" class="estoque-text">
                <a>CP 200 PP E TRANSPARENTE (25x100)</a>
              </div>
            </div>
          </mat-card>

          <mat-card class="estoque-card">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
                  <mat-icon class="estoque-icon">import_export</mat-icon>
                </div>

                <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
                  <a>000</a>
                </div>
              </div>

              <br><br>
              <div fxFlex fxLayoutAlign="center end" class="estoque-text">
                <a>CP 200 PP E TRANSPARENTE (25x100)</a>
              </div>
            </div>
          </mat-card>

          <mat-card class="estoque-card">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
                  <mat-icon class="estoque-icon">import_export</mat-icon>
                </div>

                <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
                  <a>000</a>
                </div>
              </div>

              <br><br>
              <div fxFlex fxLayoutAlign="center end" class="estoque-text">
                <a>CP 200 PP E TRANSPARENTE (25x100)</a>
              </div>
            </div>
          </mat-card>

          <mat-card class="estoque-card">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex fxLayoutAlign="start start" class="estoque-column1">
                  <mat-icon class="estoque-icon">import_export</mat-icon>
                </div>

                <div fxFlex fxLayoutAlign="center end" class="estoque-cont">
                  <a>000</a>
                </div>
              </div>

              <br><br>
              <div fxFlex fxLayoutAlign="center end" class="estoque-text">
                <a>CP 200 PP E TRANSPARENTE (25x100)</a>
              </div>
            </div>
          </mat-card>

        </mat-card>
      </ng-template>

    </mat-tab>


    <mat-tab label="Estoque Final">
      <ng-template matTabContent>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>