<mat-toolbar>
  Home
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Materia-Prima"> Content 2 </mat-tab>
  <mat-tab label="Estoque Inacabado"> Content 3 </mat-tab>
  <mat-tab label="Estoque Final">

    <div>
      <mat-card>
        <mat-card-subtitle>
          Pollycopos CP 200 PP E TRANSPARENTE (25x100)
          <button mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-content>
          <p>Estoque: 200 caixas;</p>
          <p>Disponivel: 150 caixas</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-card>
        <mat-card-subtitle>
          Pollycopos CP 250 PP E TRANSPARENTE (25x100)
          <button mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-content>
          <p>Estoque: 200 caixas;</p>
          <p>Disponivel: 150 caixas</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-card>
        <mat-card-subtitle>
          Pollycopos CP 300 PP E TRANSPARENTE (25x100)
          <button mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-content>
          <p>Estoque: 200 caixas;</p>
          <p>Disponivel: 150 caixas</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-card>
        <mat-card-subtitle>
          Pollycopos CP 400 PP E TRANSPARENTE (25x100)
          <button mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-content>
          <p>Estoque: 200 caixas;</p>
          <p>Disponivel: 150 caixas</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>

  </mat-tab>
</mat-tab-group>


<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>