<div class="hgroup">
  <h1>Poli-Gyn Embalagens LTDA</h1>
  <h3>Qualidade que transforma produtos em grandes marcas!</h3>
</div>
<form [formGroup]="formulario" (ngSubmit)="login()">
  <div class="group">
    <input type="text">
    <label>Nome</label>
  </div>
  <div class="group">
    <input type="email">
    <label>Senha</label>
  </div>
  <button type="submit" class="button buttonBlue">Entrar
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer><a href="http://poligyn.com.br/" target="_blank"><img src="assets/image/login.jpg"></a>
  <p>Visite o nosso <a href="http://poligyn.com.br/" target="_blank">site</a></p>
</footer>