<h2 mat-dialog-title>Cadastro de Transportadora</h2>
<div mat-dialog-content class="content">

  <form [formGroup]="formulario" (ngSubmit)="_salvar()">
    <div fxFlex fxLayout="column">
      <h5>Dados da Transportadora</h5>

      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome" required>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput placeholder="CNPJ" formControlName="CNPJ" inputMask="99.999.999/9999-99" required>
      </mat-form-field>

      <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Responsavel" formControlName="responsavel" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Cargo E/Ou Departamento" formControlName="cargoOrDep" required>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>

      <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Telefone Movel" formControlName="foneMovel" inputMask="(999) 9999-9999">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Telefone Fixo" formControlName="foneFixo" inputMask="(999) 9999-9999">
        </mat-form-field>
      </div>

      <div mat-dialog-actions fxLayoutAlign="center center">
        <button mat-raised-button (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
      </div>

    </div>
  </form>

</div>