<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="over" position="end">
    <mat-toolbar>

      <mat-toolbar-row class="drawer-row">
        <button mat-button class="drawer-button">
          <span>Conta</span>
        </button>
        <div class="flex-spacer"></div>
        <mat-icon>account_circle</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row class="drawer-row">
        <button mat-button class="drawer-button">
          <span>Configurações</span>
        </button>
        <div class="flex-spacer"></div>
        <mat-icon>settings</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row class="drawer-row">
        <button mat-button class="drawer-button">
          <span>Sair</span>
        </button>
        <div class="flex-spacer"></div>
        <mat-icon>exit_to_app</mat-icon>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-drawer>
  <mat-drawer-content>

    <div>
      <nav class="menu-container">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="flex-spacer"></div>

        <button mat-button (click)="drawer.toggle()">
          Marcos Paulo <mat-icon>account_box</mat-icon>
        </button>
      </nav>
    </div>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/Menu/Home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="/Menu/Representantes">
    <mat-icon>people</mat-icon>
    <span>Representantes</span>
  </button>
  <button mat-menu-item routerLink="/Menu/Transportadoras">
    <mat-icon>local_shipping</mat-icon>
    <span>Transportadoras</span>
  </button>
  <button mat-menu-item routerLink="/Menu">
    <mat-icon>star</mat-icon>
    <span>Produtos</span>
  </button>
  <button mat-menu-item routerLink="/Menu">
    <mat-icon>how_to_reg</mat-icon>
    <span>Clientes</span>
  </button>
  <button mat-menu-item routerLink="/Menu">
    <mat-icon>swap_horiz</mat-icon>
    <span>Movimentação</span>
  </button>
  <button mat-menu-item routerLink="/Menu">
    <mat-icon>local_grocery_store</mat-icon>
    <span>Vendas</span>
  </button>
</mat-menu>